.app {
  max-width: 330px;
  margin: 0 auto;
  box-shadow: 0 0 5px gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  background-color: azure;
}

h1 {
   text-align: center
}

body {
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

.addNewItem {
  display: flex;
  align-items: center;
}